[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
jupyterlab = "*"
notebook = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
dovpanda = "*"
ipython = "*"
kaggle = "*"
searborn = "*"
seaborn = "*"

[requires]
python_version = "3.8"
