[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
notebook = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
dovpanda = "*"
ipython = "*"
kaggle = "*"
seaborn = "*"
plotly = "*"
bokeh = "*"
ipywidgets = "*"
jupyterlab = "*"

[requires]
python_version = "3.8"
